/* TITLE */

.analysis-text1{
    text-align:center;
    padding:20px;
    color:#ffffff;
    margin-top:40px;
    font-size:30px;
    text-shadow: 0 0 8px #000000cb;
}

/* SEARCH BOX */

.search-card{
    margin:40px auto;
    max-width:700px;
    background-color:rgba(255,255,255,0.2);
    padding:30px;
    border-radius:15px;
}

.search-box{
    display:flex;
    justify-content:center;
    gap:10px;
    flex-wrap:wrap;
}

.search-box input{
    width:280px;
    padding:12px;
    border-radius:10px;
    border:none;
}

.search-box button{
    padding:12px 20px;
    background-color:#1f6209;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

/* GRID */

.results-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
    gap:25px;
    margin-top:30px;
    padding:0 40px;
}

/* CARD */

.result-card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    cursor:pointer;
    position:relative;
    transition:0.3s;
}

.result-card:hover{
    transform:scale(1.03);
}

/* IMAGE */

.result-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

/* TOP OVERLAY */

.card-overlay{
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    display:flex;
    justify-content:space-between;
}

.status{
    background:red;
    color:white;
    padding:4px 8px;
    border-radius:6px;
    font-size:12px;
}

/* BOTTOM BAR */

.card-bottom{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background:black;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:8px;
    font-size:12px;
}

/* TEXT */

.result-card h3{
    padding:10px;
    font-size:16px;
}

/* ================= POPUP ================= */

.popup{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.7);
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:2000;
}

.popup-content{
    background:#111;
    color:white;
    width:800px;
    border-radius:20px;
    display:flex;
    padding:20px;
    gap:20px;
    position:relative;
}

.popup-left img{
    width:300px;
    border-radius:15px;
}

.popup-right{
    flex:1;
}

.close-btn{
    position:absolute;
    top:10px;
    right:15px;
    background:#333;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:50%;
    cursor:pointer;
}

.damage{
    color:red;
    font-weight:bold;
}

.prediction{
    background:#222;
    padding:10px;
    border-radius:10px;
    margin:10px 0;
}

/* ================= FILTER ================= */

.filter-modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.5);
    display:flex;
    align-items:center;
    justify-content:center;
}

.filter-box{
    background:#ccf8ff;
    padding:30px;
    border-radius:15px;
    width:350px;
    display:flex;
    flex-direction:column;
    gap:12px;
}

.filter-box select,
.filter-box button{
    padding:10px;
    border-radius:10px;
    border:none;
}